{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Activate Peacock TV on any device using your unique code at peacocktv.com/tv. Follow our step-by-step guide for fast setup and start streaming shows, movies, live sports, and more today!" />
    <meta name="keywords" content="peacocktv.com/tv, Peacock TV activation code, activate Peacock TV, streaming activation, NBC Peacock activation, Peacock TV setup" />
    <meta name="robots" content="index, follow" />
    <title>Activate Peacock TV at peacocktv.com/tv – Full Guide to Start Streaming</title>
    {{ super() }}
{% endblock %}
